<ion-header>
  <ion-toolbar>
    <ion-title>detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-item >
        <ion-label position="floating" type="text">Name</ion-label>
        <ion-input [(ngModel)]="name"></ion-input>
      </ion-item>
    <ion-item>
          <ion-label position="floating" type="text">Surname</ion-label>
          <ion-input [(ngModel)]="surname"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating" >Age</ion-label>
            <ion-input type="number" [(ngModel)]="age"></ion-input>
          </ion-item>
  <ion-item>
    <ion-label position="floating">Gender</ion-label>
    <ion-select placeholder="Select One" [(ngModel)]="gender">
      <ion-select-option value="f">Female</ion-select-option>
      <ion-select-option value="m">Male</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button color="primary" (click)="submit()">Submit</ion-button> -->
  <div id="mapid"></div>


</ion-content>
